untis-pro-backend/package-lock.json
/untis-pro-backend/node_modules
untis-pro-frontend/package-lock.json
example_week_lessons.json
example_untis_package_usage.ts
/untis-pro-backend/prisma/migrations
.env
untis-pro-frontend/.env.example
